<h1>User</h1>
<p><%= @user.name %></p>
<p><%= @user.description %></p>
<p><%= @user.website %></p>
<% @events.each do |event| %>
  <p><%= event.title %></p>
  <p><%= event.description %></p>
  <p><%= event.date %></p>
  <p><%= event.location %></p>
  <p><%= number_with_precision event.price, precision: 2 %></p>
<% end %>
