<h1>Events</h1>
<% @events.each do |event| %>
  <p><%= event.title %></p>
  <p><%= event.date %></p>
  <p><%= event.location %></p>
  <p><%= number_with_precision event.price, precision: 2 %></p>
  <p><%= event.creator.name %></p>
<% end %>
