<h1>New Event</h1>
<%= form_with(model: @new_event) do |form| %>
  <% if @new_event.errors.any? %>
    <div style="color: red">
      <ul>
        <% @new_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title, required: true, placeholder: 'Title', autofocus: true %>
  </div>
  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description, required: true, placeholder: 'Description' %>
  </div>
  <div class="field">
    <%= form.label :date %><br>
    <%= form.datetime_field :date, required: true %>
  </div>
  <div class="field">
    <%= form.label :location %><br>
    <%= form.text_field :location, required: true, placeholder: 'Location' %>
  </div>
  <div class="field">
    <%= form.label :price %><br>
    <%= form.text_field :price, required: true, placeholder: 'Price', pattern: '\d?\d?\d?\d.\d\d', maxlenght: 7 %>
  </div>
  <div class="field">
    <%= form.submit 'Create Event' %>
  </div>
<% end %>
