<h1>Event</h1>
<p><%= @event.creator.name %></p>
<p><%= @event.title %></p>
<p><%= @event.description %></p>
<p><%= @event.date %></p>
<p><%= @event.location %></p>
<p><%= number_with_precision @event.price, precision: 2 %></p>
