<h1>Event</h1>
<%= link_to "All events", events_path %>
<p><%= link_to "#{@event.creator.name}", user_path(@event.creator.id) %></p>
<p><%= @event.title %></p>
<p><%= @event.description %></p>
<p><%= @event.date %></p>
<p><%= @event.location %></p>
<p><%= number_with_precision @event.price, precision: 2 %></p>
