<!DOCTYPE html>
<html>
  <head>
    <title>ODINPrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="notification is-success">
        <button class="delete"></button>
        <p class="has-text-centered"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <button class="delete"></button>
        <p class="has-text-centered"><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
